// Variable overrides
body {
    background-color: #f5f5f5 !important;
}

label {
    font-size: 12px !important;
}

.noBorder {
    border: none !important;
}
//----------------------material ui-----------------
.app-header .dropdown-item {
    min-width: 0 !important;
}

.MuiAvatar-root {
    height: 50px !important;
    width: 50px !important;
}

.smallCheck {
    font-size: 12px !important;
    color: #333 !important;
    margin-left: -5px !important;
}

.error_input {
    float: right;
    font-size: 12px;
    margin-top: -45px;
    margin-right: 10px;
    color: red;
}

.error_input_sm {
    float: right;
    font-size: 12px;
    margin-top: -25px;
    margin-right: 10px;
    color: red;
}
//----------------------header-----------------------
.header-fixed .app-header {
    background-color: #ffffff !important;
}

.app-header .navbar-toggler-icon {
    // background-image: url('/assets/img/toggle.png') !important;
    margin-top: 3px !important;
}

.img-avatar{
    margin: 0 15px !important;
    height: 40px !important;
    width: 40px !important;
}

.name-bar{
    text-transform: capitalize !important;
}
//----------------------sidebar----------------------
.sidebar .sidebar-minimizer {
    flex: 0 0 30px !important;
    background-color: #F0F0F0 !important;
}

.sidebar .sidebar-minimizer::before {
    height: 33px !important;
    background-size: 16px !important;
    background-image: url('/assets/img/left_arrow.png') !important;
}

.sidebar-minimized .sidebar .nav-link {
    background-color: #DFE7D8;
    border-left: 1px solid #f0f0f0 !important;
}

.sidebar-minimized .sidebar .sidebar-minimizer {
    height: 33px !important;
}

.scrollbar-container {
    background-color: #dfe7d8 !important;
}

.sidebar .nav-dropdown.open {
    background-color: inherit !important;
}

.sidebar .nav-dropdown.open .nav-link {
    color: #333 !important;
}

.sidebar .nav-link {
    font-size: 12px !important;
    padding: 0.5rem 1rem !important;
    color: #333 !important;
}

.sidebar-minimized .sidebar .nav-dropdown-toggle {
    padding: 0.75rem 0 !important;
}

.sidebar .nav-link .nav-icon {
    color: #333 !important;
}
//-----------------------footer-----------------------
.app-footer {
    flex: 0 0 30px !important;
    background-color: #ddd6de !important;
}

[class^="icon-"], [class*=" icon-"] {
    top: -2px !important;
}
//-----------------------content----------------------
legend {
    width: auto !important;
}

.breadcrumb {
    margin-bottom: 15px !important;
    background-color: #1A98D5 !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #fff !important;
}

.breadcrumb .breadcrumb-item a, .breadcrumb .breadcrumb-item.active {
    color: #fff !important;
}

.main .container-fluid {
    padding: 0 15px !important;
}

.textCpr{
    font-size: 12px !important;
    color: #333 !important;
}

.card {
    border-radius: 4px !important;
    margin-bottom: 0px !important;
}

.card-header {
    padding: 0.5rem !important;
}

.card-body-nopad {
    padding: 0 !important;
}

.card-body-nopadtop {
    padding: 0 15px !important;  
}

.btnReadMore {
    float: right;
    font-size: 12px !important;
    padding: 2px 8px !important;
}

.buttonTable {
    margin-left: 15px !important;
    float: left !important;
}

.buttonTable .btn-brand {
    margin-right: 5px;
}

button:focus {outline:none !important;}

.clear-both {
    clear: both !important;
}

.card-header-filter {
    padding: 4px 20px !important;
}

.scroll {
    width: 100%;
    height: 430px;
    display: flex;
    overflow-x: auto;
}

.scroll-title {
    // padding: 20px !important;
    font-weight: 700;
}
  
.scroll-item {
    width: 1200px;
    flex-shrink: 0;
    margin: 0;
}

.custable{
    border: 1px solid #c8ced3;
}

.custable th, .custable td{
    border: 1px solid #c8ced3;
    width: 45px;
}

.col-hidden { 
    display: none !important;
}

.mr5px {
    margin-right: 5px !important;
}

.mt10px {
    margin-top: 10px !important;
}

.filterPage{
    width: 100%;
    margin-bottom: 10px;
}

table caption {
    padding-top: 0 !important;
    caption-side: top !important;
}

.table th, .table td {
    padding: 4px 10px 4px 10px !important;
    font-size: 12px !important;
}

.table td .form-control {
    padding: 0px 5px !important;
    font-size: 12px !important;
    line-height: 12px !important;
    height: auto !important;
    border: none !important;
}

.react-bs-table-bordered {
    border-radius: 0 !important;
}

// .react-bs-table-container {
//     margin-top: 15px !important;
// }

.react-bs-table-tool-bar {
    margin-bottom: 15px !important;
}

td .btn {
    padding: 2px 7px !important;
    font-size: 12px !important;
    line-height: 1rem !important;
}

td .btn i {
    font-size: 12px !important;
    margin: -5px !important;
    line-height: 1rem !important;
}

.react-bs-table-container .react-bs-table-search-form .input-group-btn .react-bs-table-search-clear-btn{
    padding: 4px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    font-size: 12px !important;
}

.react-bs-table-container .react-bs-table-search-form .form-control{
    outline: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.react-bs-table-container .react-bs-table-search-form .input-group-btn .react-bs-table-search-clear-btn:focus{
    outline: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.react-bs-table-csv-btn {
    margin-left: 15px !important;
}

.react-bs-table-sizePerPage-dropdown .btn {
    margin-left: 15px !important;
    font-size: 12px !important;
    padding: 4px 10px !important;
    background-color: #fcfcfc !important;
    float: left !important;
    margin-bottom: 15px !important;
}

.react-bootstrap-table-page-btns-ul {
    margin-right: 15px !important;
}

.react-bootstrap-table-page-btns-ul .page-link {
    padding: 4px 10px !important;
    font-size: 12px !important;
}

.react-bootstrap-table-page-btns-ul .page-link:focus {
    outline: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.pagTextTotal {
    float: right !important;
    font-size: 12px !important;
}

.imgTable {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
    cursor: pointer !important;
    border: 1px solid #9acd32 !important;
}

.imgModal {
    width: 265px !important;
    height: 265px !important;
}

.spliter {
    height: 430px !important;
    margin-top: 50px !important;
}

.pointer {
    cursor: pointer !important;
}

.welcome {
    font-family: Varela, Arial, Helvetica, sans-serif !important;
    font-size: 1.5rem !important;
    color: #9F3F0F !important;
    font-weight: 700 !important;
}
//----------------font------------------
.fc555 {
    color: #555 !important;
}

.fs22 {
    font-size: 22px !important;
}

.fs14 {
    font-size: 14px !important;
    font-family: Varela, Arial, Helvetica, sans-serif !important;
    font-weight: 700 !important;
}

.fs12b {
    font-size: 12px !important;
    font-family: Varela, Arial, Helvetica, sans-serif !important;
    font-weight: 700 !important;
}

.fs12 {
    font-size: 12px !important;
}

//---------------form-------------------
.comForm {
    width: 100% !important;
}

.comForm .MuiFormControl-root {
    width: 100% !important;
    margin-top: 10px !important;
}

.comForm .MuiInputLabel-root {
    font-size: 14px !important;
}

.comForm .wdInput {
    width: 100% !important;
    font-size: 12px !important;
}

.comForm .MuiFormControlLabel-labelPlacementStart {
    margin: 25px 0 0 !important;
    color: #7e7e7e !important;
}

.comForm .PrivateSwitchBase-root-72  {
    padding: 0 9px !important;
}

.bgWhite {
    background-color: white !important;
    border: 1px solid #c8ced3;
    border-top: none;
}

.cardBgWhite {
    background-color: white !important;
}

.row-nomar {
    height: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.btnFormSubmit {
    width: 100% !important;
    margin-top: 30px !important;
    font-size: 12px !important;
    line-height: 30px !important;
}

.btnFormSubmit i {
    margin-top: 2px !important;
    margin-right: 3px !important;
}

//---------------sweetalert2------------
.swal2-popup .swal2-styled.swal2-confirm {
    font-size: 12px !important;
    color: #fcfcfc !important;
    font-weight: normal !important;
}

.swal2-styled.swal2-cancel {
    font-size: 12px !important;
    color: #fcfcfc !important;
    font-weight: normal !important;
}

//------------------------------
.topBtn {
    margin-left: 15px !important;
    width: 100px;
}

.mb10px {
    margin-bottom: 10px !important;
}

.Login-paper-3, .Login-paper-195 {
    margin:15px !important;
    border: 1px solid #c8ced3 !important;
    padding: 40px !important;
    background-color: white !important;
    border-radius: 4px !important;
}

.btnMainMenu {
    border-radius: 0 !important;
    padding: 3px 5px !important;
    background-color: rgb(254,182,183) !important;
    border: 1px solid rgb(255, 255, 255) !important;
    border-right: none !important;
    margin-left: 15px !important;
    box-shadow: none !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.btnMainMenu:hover, .btnMainMenu:focus { 
    background-color: rgb(255,109,110) !important;
}

.btnHelp {
    border-radius: 0 !important;
    padding: 3px 5px !important;
    background-color: rgb(111,190,255) !important;
    border: 1px solid rgb(255, 255, 255) !important;
    border-left: none !important;
    box-shadow: none !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.btnHelp:hover, .btnHelp:focus {
    background-color: rgb(74,173,255) !important;
}

.btnCardMenu {
    margin-top: 5px !important;
    width: 100% !important;
    height: 100px !important;
    background-color: rgb(255,255,255) !important;
    color: rgb(43, 50, 54) !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    font-family: Varela, Arial, Helvetica, sans-serif !important;
}

.btnCardMenu i {
    color: rgb(3,172,14) !important;
}

.btnCardMenu:hover, .btnCardMenu:focus {
    background-color: rgb(180,223,255) !important;
}

.btnCardMenu i {
    font-size: 40px !important;
    width: 100% !important;
    line-height: 50px !important;
    margin-left: 2px !important;
}

.btnLSMenu {
    width: 100% !important;
    height: 35px !important;
    margin: 5px 0 !important;
    padding: 0px !important;
    background-color: rgb(64,75,81) !important;
    color: #fff !important;
    font-size: 11px !important;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}

.btnLSMenu:hover, .btnLSMenu:focus {
    background-color: rgb(39, 46, 49) !important;
}

.btnPanelMenu {
    width: 100% !important;
    height: 35px !important;
    margin: 0 !important;
    padding: 0px !important;
    background-color: rgb(64,75,81) !important;
    color: #fff !important;
    font-size: 12px !important;
    border-radius: 0 !important;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}

.btnPanelMenu:hover, .btnPanelMenu:focus {
    background-color: rgb(39, 46, 49) !important;
}

.btnBackBottom {
    position: absolute;
    left: 15px !important;
    bottom: 15px !important;
}

.truck {
    margin-top: 25px;
}

.enlarge {
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: #555;
}

.colRight {
    padding: 20px !important;
}

.leftContent {
    padding-left: 15px !important;
    padding-top: 15px !important;
}

.divBody {
    border-bottom: 1px dashed rgba(157, 0, 0, .6);
    margin-bottom: 10px;
}

.divTime {
    float: right;
    color: black;
    font-weight: bold;
    font-size: 11px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.iconTime {
    font-size: 12px !important;
    margin-top: 2px;
}

.divText {
    margin-bottom: 3px;
}

.btnMini{
    background-color: transparent !important;
    border: none !important;
    height: 40px !important;
    padding: 0 !important;
}

.btnMini:hover, .btnMini:focus{
    box-shadow: none !important;
}

.btnMuat {
    width: 100%;
    border-radius: 0 !important;
    margin-bottom: 10px !important;
}

.btnExec {
    width: 120px;
    float: right;
    border-radius: 0 !important;
    margin-bottom: 10px !important;
    margin-left: 10px;
}

.doType {
    background-color: #D7FFB6;
    padding: 8px;
}

.lgn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px !important;
    border: 1px solid #c8ced3 !important;
    padding: 40px !important;
    background-color: white !important;
    border-radius: 4px !important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #f5f5f5 !important;
}

.headcust {
    text-align: center; 
    height: 35px; 
    line-height: 35px;
    background-color: #ddd6de;
    font-family: Varela, Arial, Helvetica, sans-serif !important;
    font-size: 12px;
}

.alertcust {
    width: 100%;
    height: 35px; 
    line-height: 35px;
    padding: 0 10px !important;
    background-color: #DBF2E3;
    font-family: Varela, Arial, Helvetica, sans-serif !important;
    font-size: 12px;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
}

.alertcust .close {
    padding: 5px 10px !important;
}

.filtercust {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 35px; 
    font-family: Varela, Arial, Helvetica, sans-serif !important;
    font-size: 12px;
}

.btn-newvm {
    width: auto !important;
    font-family: Varela, Arial, Helvetica, sans-serif !important;
    font-size: 10px !important;
    border-radius: 0 !important;
    padding: 6px !important;
    margin-right: 10px;
    height: 38px;
}

.tx1, .tx2, .tx3, .tx4, .tx5, .tx6, .txf {
    font-family: Varela, Arial, Helvetica, sans-serif !important;
}

.tx2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 50px;
}

.tx3 {
    font-size: 12px;
}

.tx4 {
    font-size: 12px;
    width: auto;
    display: inline-block;
    padding: 2px 4px;
    border-radius: 4px;
}

.tx5 {
    font-weight: 700;
    font-size: 16px;
    margin-left: 20px;
}

.tx6 {
    font-weight: 700;
    font-size: 16px;
}

.txf {
    cursor: pointer;
    color: #1A98D5;
}

.icdisp {
    height: 110px;
}

.fter {
    display: flex;
    justify-content: space-between;
}

.custselect2 {
    width: 100% !important;
}

.custselect {
    margin-left: 5px;
    width: 200px !important;
}

.custselect .css-yk16xz-control {
    border-radius: 0 !important;
    height: 35px !important;
}

.custselect .css-g1d714-ValueContainer {
    padding: 0 10px !important;
}

.css-1wa3eu0-placeholder {
    top: 16px !important;
}

.icfilt {
    line-height: 40px;
    margin: 0 5px;
}

.csx {
    color: #555 !important;
    font-size: 14px !important;
    cursor: pointer;
}

.tx4 i {
    font-size: 12px !important;
}

.bgred {
    background-color: #FF6D6E;
}

.bggreen {
    background-color: #26FF8E;
}

.modal-DDD6DE .modal-header {
    background-color: #DDD6DE !important;
    padding: 6px 10px;
}

.modal-DDD6DE .modal-header .modal-title{
    font-size: 14px;
    font-weight: 400;
}

.rd0 {
    border-radius: 0 !important;
}

.headerCollapse button{
    text-decoration: none !important;
}